/* 
 *                  FONTES - Google font
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');                      /*  título  */
 @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');                             /*  usuário  */
 @import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');


body{
    background-color: #171616;
    color: white;
    overflow: hidden;
}

#icone-configuracao{
    float: left;
}
#icone-sobre{
    float: right;
}

main{
    display: flex;
}

#opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30vw;
    gap: 10%;
}
.botao-opcao{
    height: 50px;
    border: white 1px solid;
    background-color: rgba(255, 255, 255, 0.062);
    color: white;
    border-radius: 10em;
    position: relative;
    display: grid;
    grid-template-columns: 15% 1fr;;
}
.botao-opcao i{
    margin-top: 13px;
    margin-bottom: 13px;
}
.botao-opcao:hover{
    background-color: rgba(255, 255, 255, 0.384);
    left: 5px;
    top: 5px;
}

#secao-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}
#imagem-user{
    filter: invert(0.89)
}
#secao-perfil{
    font-family: 'Fuzzy Bubbles', cursive;
}

#titulo{
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: auto;
}
#titulo h1,
#titulo h2{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
#titulo h1{
    font-weight: bold;
}

footer{
    text-align: center;
}
footer p{
    font-family: 'Bona Nova', serif;
}

@media (min-width: 530px){
    body{
        display: grid;
        grid-template-columns: 1fr 60vw 1fr;
        grid-template-rows: 30vh 55vh 15vh;
    }

    header{
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    main{
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        justify-content: space-around;
        align-items: center;
        
    }

    footer{
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }
}
