
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'); /* fonte para os textos de exibição do menu*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap'); /* fonte para os textos de comando do menu*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap'); /* fonte para o botão salvar */

:root {
    --cor-fundo-container: rgba(45, 43, 43, 0.844);
    --cor-texto: white;
    --cor-hover: rgba(255, 255, 255, 0.253);
    --cor-erro: rgb(138, 2, 2);
}

#container-configuracao {
    background-color: var(--cor-fundo-container);
    overflow: hidden;
    position: relative;
}
#secao-selecao-perfil {
    border-right: 1px var(--cor-texto) solid;
    overflow-y: scroll;
    height: calc(100% - 24px);
}
.perfil-para-selecao {
    border-radius: 5%;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    font-family: 'Work Sans', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.perfil-selecionado {
    border: 1px var(--cor-texto) solid;
}
.container-dados-perfil {
    margin-top: 5px;
    margin-left: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container-dados-perfil .botao-conf {
    align-self: flex-end;
}
.container-dados-perfil .nome-perfil-selecao,
.container-dados-perfil .pontuacao-max-container {
    margin: 3px;    
}

.botao-conf {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 100%;

    border: 1px var(--cor-texto) solid;
    color: var(--cor-texto);
    background-color: rgba(23, 22, 22, 0);
    cursor: pointer;
}
.botao-conf:hover {
    transform: translate(2px, 2px);
}
#container-configuracao .apagar:hover {

}
.perfil-para-selecao:not(.perfil-selecionado):hover {
    background-color: rgba(111, 111, 110, 0.397);
    cursor: pointer;
}

#container-img-selecionada {
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagem-selecionada {
    width: 13vw;
}
#secao-input-img-nome {
    display: grid;
    grid-template-columns: 3fr 4fr;
}
#secao-input-troca {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
    position: relative;
    left: -30px;
}
#trocar-imagem {
    order: -1;
    position: relative;
    top: 42px;
    z-index: 10;
}

#label-nome {
    width: 60%;
    height: 20px;
}
#input-nome {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--cor-fundo-container);
    color: var(--cor-texto);
    border: 1px var(--cor-texto) solid; 
}
#botao-fechar-configuracao {
    border-radius: 100%;
    border: 1px var(--cor-texto) solid;
    color: var(--cor-texto);
    background-color: rgba(23, 22, 22, 0);
    cursor: pointer;
    top: 10px;
    right: 10px;
}
#botao-fechar-configuracao,
#deletar-perfil,
#salvar {
    position: absolute;
    font-size: 20px;
}

#salvar {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: var(--cor-fundo-container);
    color: var(--cor-texto);
    border: 1px var(--cor-texto) solid;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;

    bottom: 12px;
    right: 10px;
    z-index: 10;
}
#salvar:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
}
#deletar-perfil {
    bottom: 12px;
    right: 100px;
    z-index: 10;
    font-size: 20px;
}

#secao-configura-tema {
    display: grid;
    grid-template-columns: 5fr 3fr;
    position: relative;
    font-family: 'Mulish', sans-serif;
}
#titulo-secao-tema-config {
    content: 'Seleção de tema:';
    position: absolute;
    top: 7px;
    left: 2vw;
    margin: 3px;
}
#selecao-tema {
    overflow-x: auto;
    border: 1px var(--cor-texto) solid;
    height: 16vh;
    width: 19vw;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.amostra-tema {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.amostra-tema:hover {
    background-color: rgba(170, 162, 162, 0.156);
    cursor: pointer;
}
.container-cores {
    width: 70%;
    height: 50%;
    border: 1px var(--cor-texto) solid;
}
.display-cor {
    width: 100%;
    height: 33%;
}
.cor1 {
    background-color: #171616;
}
.cor2 {
    background-color: white;
}
.cor3 {
    background-color: var(--cor-fundo-container);
}
.container-botao-add-tema {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs-cores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 65%;
}
#inputs-cores label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inputs-cores label input {
    width: 50%;
}

@media (min-width: 959px) { /*  deixar o container dos perfis selecionáveis certo   */
    #secao-selecao-perfil {
        height: calc(90% - 2vw);
    }
}

@media (min-width: 600px) {
    #configuracao {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    #container-configuracao {
        display: grid;
        grid-template-columns: 3fr 5fr;
        border: 1px var(--cor-texto) solid;
        border-radius: 3%;
    }
    #secao-selecao-perfil {
        margin: 12px;
        grid-column: 1 / 2;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px var(--cor-texto) solid;
    }

    #secao-configura-dados {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: 2fr 3fr;
    }
    #secao-configura-dados #secao-input-img-nome {
        grid-row: 1 / 2;
    }
    #secao-configura-dados #secao-configura-tema {
        grid-row: 2 / 3;
    }

    /*  SEÇÃO DE SELEÇÃO DE PERFIL*/
    #configuracao #secao-selecao-perfil .imagem-usuarios{
        width: 7vw;
        height: 7vw;
    }
    #secao-selecao-perfil {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #adicionar-perfil {
        align-self: center;
    }


    /*  SEÇÃO CONTROLES E INPUTS DE NOME    */


    /*  SEÇÃO DE INPUT DE CORES   */

}