@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* fonte para o t*/

:root {
    --cor-texto: #ffffff;
    --cor-fundo: #171616;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

#fluxo {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;

}

#titulo{
    text-align: center;
    color: var(--cor-texto);
    font-size: calc(3vw + 20px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px 20px 20px 20px;
}
#sub{
    margin-top: 0px;
    margin: 0px 20px;
    color: var(--cor-texto);
    font-size: calc(2vw + 10px);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#voltar{
    color: var(--cor-texto);
    z-index: 10;

    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 40px;   
}
#voltar:hover {
    cursor: pointer;
}

#texto{
    text-align: justify;
    display: inline-block;
    margin: 40px 10vw;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
}

#martelo{
    height: 12vw;
    width: 13vw;
    position: relative;
}

#martelo:hover {
    cursor: pointer;
}

/*    --------------- Classe criada para quando o martelo for clicado ---------------    */
.marteloClicado {
    animation: crescer 0.5s ease-in-out 0.2s 2 alternate,
                girando 0.6s ease-in-out 0.2s 2 alternate;
}

@keyframes crescer {
    from{transform: scale(1);}
    to{transform: scale(1.3);}
  }

@keyframes girando {
    from{transform: rotate(100deg);}
    to{transform: rotate(-30deg);}
}

#teste-forca{
    
    width: 13vw;
    max-width: 500px;
    height: auto;

}
#minigame{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

#indicador{
    font-size: 30px;
    animation: subir-descer linear 2s infinite;
    position: relative;
}
@keyframes subir-descer{
    0% {top: 0vw;}
  25% {top: -7.5vw;}
  50% {top: -15vw;}
  75% {top: -7.5vw;}
  100% {top: 0vw;}
}
#niv{
    float: left;
    font-size: 2em;

}

.alone {
    display: block;
}

@media (max-width: 600px) {
    #minigame {
        flex-direction: column;
    }
  }


  