:root {
    --cor-texto: #ffffff;
    --cor-fundo: #171616;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

#fluxo {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;

}

#titulo{
    align-self: flex-start;
    color: rgb(226, 43, 43);
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sub{
    color: rgb(209, 166, 24);
    font-size: 2.2vw;
}
#voltar{
    height: 70px;
    width: 80px;
    float: left;
}
#martelo{
    height: 12vw;
    width: 13vw;
}

#martelo:hover {
    cursor: pointer;
    position: relative;
    transform: rotateX(180deg);
    animation: crescer 1s ease-in-out 0s infinite alternate,
                girando 1.1s ease-in-out 0s infinite alternate;
}

@keyframes crescer {
    from{transform: scale(1);}
    to{transform: scale(1.2);}
  }

@keyframes girando{
    from{transform: rotate(100deg);}
    to{transform: rotate(-45deg);}
}

#teste-forca{
    
    width: 13vw;
    max-width: 500px;
    height: auto;

}
#minigame{
    grid-column: auto;
    align-items: center;
}

#indicador{

    height: 50px;
    padding: 6em;
    animation: subir-descer linear 2s infinite;
    position: relative;
}
@keyframes subir-descer{
    0% {top: 0vw;}
  25% {top: -10vw;}
  50% {top: -20vw;}
  75% {top: -10vw;}
  100% {top: 0vw;}
}
#texto{
    display: inline-block;
    height: 70%;
    width: 30em;
    font-size: 2em;
}
#niv{
    float: right;
    font-size: 2em;

}
