@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /* fonte para carta */

:root {
    --cor-fundo-container: #2d2b2b;
    --cor-texto: #ffffff;
    --cor-hover: rgba(255, 255, 255, 0.253);
    --cor-erro: rgb(138, 2, 2);
    --cor-fundo: #171616;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0px;
}
#container-tela-jogo {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 40px;
}

#icone-pause {
    position: absolute;
    font-size: 50px;
    margin: 20px;
}
#icone-pause:hover {
    cursor: pointer;
}

.containers-perfis {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.imagem-perfil-jg {
    width: 10vw;
}

#container-cartas-na-mesa {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    border: 8px var(--cor-texto) solid;
    border-radius: 10%;
}

#container-dados-bot {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
    
    justify-content: flex-start;
}
#container-cartas-bot {
    grid-row: 1 / 2;
    grid-column: 1 / 4;

    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#container-dados-jogador {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    justify-content: flex-end;
}
#container-dados-jogador .imagem-perfil-jg {
    order: 2;
}

#container-cartas-jogador {
    grid-column: 3 / 6;
    grid-row: 3 / 4;

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.carta {
    height: 19vh;
    box-sizing: border-box;
    width: 90px;
    border-radius: 10px;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px;
}
.numero-carta {
    margin: 0px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.num-inf {
    align-self: flex-end;
}

#j1 {
    background-image: url(../imagens/user-spock.png);
}
#j2 {
    background-image: url(../imagens/user-pedra.png);
}
#j3 {
    background-image: url(../imagens/user-tesoura.png);
}
#j4 {
    background-image: url(../imagens/user-lagarto.png);
}

#b1 {
    background-image: url(../imagens/user-pedra.png);
}
#b2 {
    background-image: url(../imagens/user-papel.png);
}
#b3 {
    background-image: url(../imagens/user-spock.png);
}
#b4 {
    background-image: url(../imagens/user-pedra.png);
}

.c-clicavel:hover {
    cursor: pointer;
    transform: translateY(5px);
    transform: scale(1.1, 1.1);
}

#container-cartas-bot .carta:not(.select-bot-carta) {
    transform: rotateY(180deg);
    background-image: none;
}
#container-cartas-bot .carta:not(.select-bot-carta) .numero-carta {
    display: none;
}

/* select-bot-carta classe para a carta que o bot jogou */

#pause-container {
    position: absolute;
    width: 30vw;
    height: 50vh;
    min-width: 300px;
    min-height: 400px;

    background-color: var(--cor-fundo);
    border-radius: 0.7em;
    border: 1px var(--cor-texto) solid;
    left: 35vw;
    top: 23vh;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

}
#pause-container button {
    border: none;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-size: 50px;

    border: 1px var(--cor-texto) solid;
    border-radius: 100%;
}
#pause-container button:hover {
    cursor: pointer;
    border-color: var(--cor-fundo);
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
}

#icone-home {
    padding: 10px 15px;
}
#icone-help {
    padding: 8px 21px 8px 20px;
}
#icone-resume {
    padding: 10px 13px 10px 18px;
}

#pause-container.invisivel {
    display: none;
}