:root {
    --cor-fundo-container: #2d2b2b;
    --cor-texto: #ffffff;
    --cor-hover: rgba(255, 255, 255, 0.253);
    --cor-erro: rgb(138, 2, 2);
    --cor-fundo: #171616;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

img {
    height: 75px;
    margin-top: 10px;
}

main{
    padding-left: 15%;
    padding-right: 15%;
}

#container-cartas-na-mesa {
    height: 325px;
    border: solid 8px;
    border-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px gray;
}
